{% extends 'ground.html' %}
{% load crispy_forms_tags %}


{% block title %}
    CONAS Conference
{% endblock title %}

{% block body %}

<div class=" row">
    <div class="column left">
        <p>Hi Conference</p>
    </div>
    <div class="column middle" >
        {% if messages %}
              {% for message in messages %}
                          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          <span class="sr-only">Close</span>
                      </button>
                      <strong align='center'> {{ message }}.</strong>
                  </div>
          
                 
              {% endfor %}
          {% endif %}
        {% include 'mordi/conform.html' %}
        
    </div>
    <div class="column right" >
        <h4><em>Hi Conference</em></h4>
    </div>
</div>  

{% endblock body %}

